<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回款日历</title>
    <% include ../../template/cssRes.html%>
    <link rel='stylesheet' href='/css/my/my.css' />
    <% include ../../template/meta.html%>
    <% include ../../template/jsRes.html%>
</head>
<body class="_myMenuSec paddingBtm">
    <section class="lrItemList">
        <a class="item arrow" href="/views/static/my/mySetting.html">
            <p class="title">账户设置</p>
        </a>
        <a class="item arrow" href="/views/static/my/myInvite.html">
            <p class="title">邀请好友</p>
        </a>
        <!-- <a class="item arrow" href="#">
            <p class="title">平台统计</p>
        </a> -->

        <!-- 	<a class="item arrow separate" href="#">
            <p class="title">懒人社区</p>
        </a> -->

        <a class="item arrow" href="/views/static/my/myHelper.html">
            <p class="title">帮助中心</p>
        </a>

        <a class="item arrow" href="/views/static/my/myAboutUs.html">
            <p class="title">关于懒人</p>
        </a>
    </section>
    <% include ../../template/navBar.html%>
</body>
</html>