<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <% include ../../template/cssRes.html%>
    <link rel='stylesheet' href='/css/my/my.css' />
    <% include ../../template/meta.html%>
    <% include ../../template/jsRes.html%>
</head>
<body class="_myMenuSec paddingBtm">
    <section class="lrItemList">
        <a class="item arrow" href="/my/account/setting">
            <p class="title">账户设置</p>
        </a>
        <a class="item arrow" href="/my/invite">
            <p class="title">邀请好友</p>
        </a>
        <a class="item arrow" href="/my/help">
            <p class="title">帮助中心</p>
        </a>

        <a class="item arrow" href="/my/aboutus">
            <p class="title">关于懒人</p>
        </a>
    </section>
    <% include ../../template/navBar.html%>
</body>
</html>