<!DOCTYPE html>
<html>
  <head>
    <title>懒人登录</title>
    <% include ../../template/cssRes.html%>
    <link rel='stylesheet' href='/css/login/login.css' />
    <% include ../../template/meta.html%>
    <% include ../../template/jsRes.html%>
  </head>
  <body class="_loginSec">
  <header class="loginBanner">
	  <a href="/" class="btn jump">跳过</a>
	  <img src="/images/login_banner.png" alt="">
	  <div class="logo bg"></div>
	  <div class="name bg"></div>
  </header>
  <form action="" id="loginForm">
	  <section class="loginForm">
		  <div class="item">
			  <span class="bg icon-mobile"></span>
			  <input type="text" placeholder="输入手机号码" name="mobile" value="15868131327">
		  </div>
		  <div class="item">
			  <span class="bg icon-psw"></span>

			  <input type="password" placeholder="输入密码" name="password" value="xhy12345">
		  </div>

		  <div class="item font_middle align_right">
			  <a href="/user/findPsw" class="main_red">找回密码</a>
		  </div>

		  <a class="btn submit" href="javascript:void(0)" id="submitBtn">登录</a>
		  <a class="btn submit register" href="/user/reg" >注册</a>


	  </section>
  </form>
  <div class="tips">
	  杭州懒人网络科技有限公司
  </div>

  <script>
	  require(['user/login']);
  </script>
  </body>
</html>
